@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{ 
    background-color: #000;
    display: flex;
    justify-content: center;
}

.albumCover{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.front {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
}
.albumPhoto{
    height: 50%;
    border: 5px solid black;
    margin: .8em 2em 3em;
}
.albumTitles {
    font-size: .8em;
    text-align: center;
    
}
.albumTitles > h1{
    font-weight: 700;
}
.albumTitles > h2{
    font-weight: 100;
    margin-bottom: 4em;
}
.subtext {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

.spine{
    height: 10%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2em;
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */

}
.spine > h1{ 
    font-size: 1.3rem;
    font-weight: 700;
}
.spine > h2{ 
    font-size: 1rem;
    font-weight: 100;

}

.underside{
    height: 15%;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 1em;
}

.side{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
}

.bigLetter{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    font-size: 2rem;
   
}
.tracks {
    text-decoration: none;
    font-style: none;
    list-style: none;
    font-size: .7rem;
    font-weight: 300;
}

.dolbyIcon{
    width: 7%;
    height: 50%;
    align-self: flex-end;
    margin-right: .5em;
}

@media screen and (min-width: 481px) {
    .albumCover{
        width: 100vw;
    }
    .albumPhoto{
        height: 60%;
        border: 5px solid black;
    }
    .underside{
        align-items: center;
    }
    .dolbyIcon{
        margin-right: 1em;
    }
}
@media screen and (min-width: 760px) {
    .albumCover{
        width: 100vw;
    }
    .albumPhoto{
        height: 70%;
        border: 5px solid black;
    }
}

/* for later */
/* .albumCover{
    width: 100vw;
    height:100vh;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row-reverse;
} */

@media screen and (min-width: 1025px) {
    .albumCover{
        display: flex;
        flex-direction: row-reverse;
        width: 60vw;
    }
    .front {
        width: 65%;
        height: 100%;
    }
    .albumPhoto{
        height: 50%;
        border: 5px solid black;
        margin: 2em 2em 5em;
    }
    .albumTitles {
        font-size: 1rem;
        text-align: center;
        
    }
    .albumTitles > h1{
        font-weight: 700;
    }
    .albumTitles > h2{
        font-weight: 100;
        letter-spacing: 2px;
    }
    .subtext {
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 400;
        align-self: center;
        justify-self: flex-start;
    }
    .spine{
        width: 10%;
        height: 90%;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding-top: 2em
    }
    .spine > h1{ 
        font-size: 2rem;
        font-weight: 700;
    }
    .spine > h2{ 
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: 2px;
    
    }
    .underside{
        width: 25%;
        height: 100%;
        padding-top: 2em;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .side{
        height: 45%;
        justify-content: flex-start;
        align-items: center;
    }  
    .bigLetter{
        height: 15%;
        width: 100%;
        font-size: 2.5rem;
        font-weight: 700; 
    }
    .tracks {
        height: 100%;
        text-decoration: none;
        font-style: none;
        list-style: none;
        font-size: 1rem;
        font-weight: 300;
        padding-top: 2em;
    }
    .dolbyIcon{
        writing-mode: vertical-rl;
        transform: rotate(90deg);
        text-orientation: mixed;
        width: 4rem;
        margin-left: 2em;
    }
}