.Display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
}

.window{
    border: 1px solid brown;
}

.description{
    border: 1px solid violet;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Display{
        height: 100vh;
        width: 100%;
        border: 1px solid blue;
    }
    .window{
        height: 90%;
        width: 90%;
        border: 1px solid brown;
    }
    .description{
        border: 1px solid violet;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Display{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        border: 1px solid blue;
    }
    .window{
        height: 75vh;
        width: 90%;
        border: 1px solid brown;
        margin-top: 5vh;
    }
    .description{
        border: 1px solid violet;
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}